// Mixins and external libraries

@import "../node_modules/lesshat/lesshat.less";
@import "../bower_components/less-easing/less/less-easing.less";

.optin-form {
  padding: 30px 0;
  text-align: center;
  
  form {
    .display(flex);
    .align-items(center);
    .justify-content(center);
    .transform(translateZ(0));
    .backface-visibility(hidden);
    
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    position: relative;
    
    .form-loader {
      
      @loader-size: 40px;
      @loader-thickness: 3px;
      @loader-speed: 0.75s;
      
      .translate(-50%, -30%);
      .transition(0.25s @easeInOutCirc);
      .backface-visibility(hidden);
      
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      z-index: 1;
      
      .loader,
      .loader:after {
        border-radius: 50%;
        width: @loader-size;
        height: @loader-size;        
      }
      
      .loader {
        .transform(translateZ(0));
        .animation(~'optin-loader-spin @{loader-speed} infinite linear');
        
        border: @loader-thickness solid fade(#fff, 20);
        border-left: @loader-thickness solid #fff;
      }
      
      .keyframes(~'optin-loader-spin, 0%{ transform: rotate(0deg); } 100%{ transform: rotate(360deg); }');
            
    } // .form-loader
    
    .form-image,
    .form-content {
      .transition(0.35s);
      .transform(translateZ(0));
      .backface-visibility(hidden);
    }
    
    // when form has been submitted
    
    &.thinking {
      pointer-events: none;
      
      .form-image,
      .form-content {
        opacity: 0.35;
      }
      
      .form-loader {
        .translate(-50%, -50%);
        opacity: 1;
      }
      
    }
    
    .form-image {
      width: 150px;
      margin-right: 30px;
      
      .image {
        padding-top: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }
      
    } // .form-image
    
    .form-content {
      overflow: hidden;
      
      .title {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.1;
        margin: 0 0 5px;
      }
      
      .description {
        font-size: 19px;
        margin: 0 0 15px;
      }
      
      .form-fields {

        .form-input {
          float: left;
          
          label {
            display: none;
          }
          
          input {
            border: none;
            padding: 0.5em;
            border-radius: 3px;
            background: #eee;
            font-size: 17px;
            margin-right: 30px;
            outline: none;
          }
          
        } // .form-input
        
        .form-btn {
          border: none;
          padding: 0.5em;
          border-radius: 10px;
          font-size: 17px;
          background: #888;
          color: #fff;
          outline: none;
        } // .form-btn
        
      }
      
      .alert-message {
        margin: 0 0 15px;
        
        &.error {
          color: #d9534f;
        }

        &.success {
          color: #5cb85c;
        }
        
        &.waiting {
          animation: pulse 1.5s infinite;
        }   

      }
      
      .keyframes(~'pulse, 0%{ opacity: 1; } 50%{ opacity: 0.25; } 100%{ opacity: 1; }');
      
    } // .form-fields
    
    // phone layout

    @media only screen and (max-width: 480px) {
      .flex-direction(column);
      text-align: center;
      
      .form-image {
        margin-right: 0;
        margin-bottom: 30px;
      }
      
      .form-content {

        .form-fields {
          
          .form-input {
            float: none;
            
            input {
              width: 80%;
              max-width: 80%;
              margin: 0 auto 10px;
            }
            
          }
          
          .form-btn {
            margin-top: 20px; 
          }
          
        }
        
      }
      
    }
    
  } // form
  
} // .optin-form